html,
body{
    height: 100%;
}

body{

}

img{

    max-width: 100%;
}
#topnav
{
    padding-top: 1rem;
    color: white;
    background-color: #3a3a3a;
}

#topnav a{
    color: white;

}

#emailsignup{
    display: none;
    margin-left: 2.5rem;
}


#splish {
    background: url("../images/SplashImage0002.jpg") center center no-repeat;
    background-size: cover;
    color: #ffffff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    

}

#splish-cap h1{
    color: white;
    margin-left: 2.5rem;
}

#signup-btn{
    display: flex;
}

.search {
    border-radius:.2rem;
    color:black;
    padding-left:1em;
}

.downward{
    color:#ffffff;
    font-size: 4rem;
    font-weight: bolder;
    display:block;
    align-content: center;
    margin-bottom: 0;

}

#homeblogs{
    background-color: #bababa;
}
.feature-content{
    padding-top: 2rem;
}

.btn-info {
    background-color: #748b7e;
    border-color: #748b7e;
}

.btn-info:hover{
    background-color: #3c5346;
    border-color: #3c5346;
}

h3{
    text-align: center;
}


/**********************************************************************
Media Queries
***********************************************************************/
/*Small/Landscape*/
@media(min-width:34em){}

/*Medium/tablet*/
@media (min-device-width: 48em) {

}

/*Large*/
@media(min-width:62em){
    #signup-btn{
        display: none;
    }
    #emailsignup {
        display: flex;
    }


}
/*Extra Large*/
@media(min-width:75em){
    
}